//color
$hover-color: #e5e5e5;
$default-color: white;
$border-color: #cccccc;
$default-background-color: #f8f8f8;
$side-item-hover-color: #f2f2f2;
$side-selected-item-color: #e5e5e5;
$side-selected-item-hover-color: #d9d9d9;

//px
$search-box-radius: 3px;
$icon-size: 20px;
$side-width: 240px;
$header-height: 60px;
