
//color
$hover-color: #e5e5e5;
$default-color: white;
$border-color: #cccccc;
$default-background-color : #f8f8f8;

//px
$search-box-radius: 3px;
$icon-size: 20px;
$side-width: 240px;
$header-height: 60px;
