@import "../variable/global_variables";

.appmenu-container {
  position: absolute;
  top: 42px;

  left: 0px;
  z-index: 999;

  @media only screen and (max-width: 950px) {
    left: 100%;
    transform: translateX(-100%);
  }
}

.appmenu {
  width: 200px;
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 1px solid $border-color;
}
.appmenu-item-icon {
  padding-right: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.appmenu-item-icon img {
  width: 28x;
  height: 28px;
}

.appmenu-item-label {
  font-size: 14px;
  width: 74%;
}
