@import "../variable/_global_variables.scss";
$hover-state: "";

.headerbar {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 990;
  border : none;
}

//LOGO

.logo-container {
  padding: 16px 20px;
  font-size: $icon-size;
  display: flex;
  justify-content: center;
  align-items: center;
  //   font-size : 30px;
}
.logo-container .menu {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.logo-container img {
  padding: 0px 14px;
  margin-left: 10px;
  width: 88px;
  cursor: pointer;
}

.logo-icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  font-size: 70px;
  color: white;
}

// INPUTBOX

.search-inputbox-container {
  width: 100%;
  height: 60%;
  padding: 0px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: $icon-size;
}
.search-inputbox-container input {
  outline: none;
  border: 1px solid $border-color;
  height: 100%;
  width: 80%;
  font-size: 16px;

  border-top-left-radius: $search-box-radius;
  border-bottom-left-radius: $search-box-radius;
  margin: 0;
  box-sizing: border-box;
  padding: 10px;
}
.search-inputbox-container input[class="lightTheme"] {
}
.search-inputbox-container input[class="darkTheme"] {
  background-color: #121212;
  border: 1px solid #303030;
  color: white;
}

.search-inputbox-container input:focus {
  border: 1px solid blue;
}

.search-button {
  border: 1px solid $border-color;
  border-left: none;
  border-top-right-radius: $search-box-radius;
  border-bottom-right-radius: $search-box-radius;
  position: relative;
  background-color: #f8f8f8;
  width: 40px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  cursor: pointer;

  &:hover {
    background-color: $hover-color;
  }
}

.search-button-darkTheme {
  background-color: #303030;
  border: 1px solid #303030;

  &:hover {
    background-color: #4d4d4d;
  }
}

.mic-button {
  position: relative;
  box-sizing: border-box;
  height: 100%;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

// user-item
.user-item-container {
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: $icon-size;
}
.app-menu-icon {
  padding: 10px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.setting-icon {
  padding: 10px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.login-container {
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 8px 10px;

  border: 1px solid cornflowerblue;
  color: cornflowerblue;
  cursor: pointer;
}
.hover-description {
  top: 60px;
  position: absolute;
  font-size: 12px;
  color: white;
  background-color: gray;
  text-align: center;
  padding: 6px;
  visibility: hidden;
  white-space: nowrap;
  opacity: 0;
  transition: 0.2s ease-out;
  cursor: default !important;
}

.on-hover {
  visibility: visible;
  opacity: 1;
}
.user-icon {
  padding-right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-text {
  padding: 0px 4px;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
}
