@import "../variable/_global_variables.scss";
.headerbar {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index : 990;
}

//LOGO

.logo-container {
  padding: 0px 20px;
  font-size: $icon-size;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo-container .menu {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.logo-container img {
  padding: 0px 14px;
  margin-left: 10px;
  width: 88px;
  cursor: pointer;
}

// INPUTBOX

.search-inputbox-container {
  width: 100%;
  height: 60%;
  padding: 0px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: $icon-size;
}

.search-inputbox-container input {
  outline: none;
  border: 1px solid $border-color;
  height: 100%;
  width: 80%;
  font-size: 16px;

  border-top-left-radius: $search-box-radius;
  border-bottom-left-radius: $search-box-radius;
  margin: 0;
  box-sizing: border-box;
  padding: 10px;
}

.search-inputbox-container input:focus {
  border: 1px solid blue;
}

.search-button {
  border: 1px solid $border-color;
  border-left: none;
  border-top-right-radius: $search-box-radius;
  border-bottom-right-radius: $search-box-radius;
  position: relative;
  background-color: #f8f8f8;
  width: 40px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  cursor: pointer;
  &:hover {
    background-color: $hover-color;
  }
  &:after {
    transition: 0.2s;
    top: 40px;
    position: absolute;
    font-size: 12px;
    color: white;
    background-color: gray;
    width: 40px;
    content: " 검색";
    text-align: center;
    padding: 6px;
    opacity: 0;
  }
  &:hover:after {
    transition: 0.3s ease-in-out;
    opacity: 1;
  }
}

.mic-button {
  position: relative;
  box-sizing: border-box;
  height: 100%;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &:after {
    top: 40px;
    position: absolute;
    font-size: 12px;
    color: white;
    background-color: gray;
    width: 100px;
    content: "음성으로 검색";
    text-align: center;
    padding: 6px;
    opacity: 0;
  }
  &:hover:after {
    transition: 0.3s ease-in-out;
    opacity: 1;
  }
}

// user-item
.user-item-container {
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: $icon-size;
}
.app-menu-icon {
  padding: 10px;
}
.setting-icon {
  padding: 10px;
}
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 8px 10px;

  border: 1px solid cornflowerblue;
  color: cornflowerblue;
}
.user-icon {
  padding-right: 8px;

  display: flex;
  justify-content: center;
  align-items: center;
}
.login-text {
  padding: 0px 4px;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
