@import "../variable/_global_variables.scss";

.headerbar-container {
  z-index: 991;
  background-color: white;
  width: 100%;
  height: $header-height;
  margin: 0;
  padding: 0;
  position: fixed;
  box-sizing: border-box;
  top: 0;
}
