.modal-container {
  position: fixed;

  height: 500px;
  top: 0;
  left: 50%;
  width: 300px;
  z-index: 999;
  background-color: white;
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}
