@import "../variable/global_variables";
.setting-dropdown-container {
  position: absolute;
  top: 22px;
  left: -250px;
  z-index: 999;
}
.setting-dropdown {
  width: 280px;
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 1px solid $border-color;
  padding: 10px 0px;
}

.setting-dropdown-item-icon {
  width: 24px;
  height: 24px;
  padding: 0px 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.setting-dropdown-item-icon img {
  width: 24x;
  height: 24px;
}

.setting-dropdown-item-label {
  font-size: 14px;
  width: 100%;
}
.next-page-button {
  padding-right: 10px;
}

.setting-prev-button-container {
  display: flex;
  align-items: center;
}
.setting-prev-button-container img {
  margin: 0px 4px;
  width: 44px;
  height: 44px;
  box-sizing: border-box;
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
  &:active {
    background-color: $hover-color;
  }
}
.setting-current-state-label {
  font-size: 16px;
}
