@import "../variable/_global_variables.scss";

.filterbar-container {
  position: fixed;
  width: calc(100% - $side-width);
  height: $header-height;
  left: $side-width;
  top: $header-height;
  z-index: 989;
  background-color: white;

  display: flex;
  justify-content: center;
  align-items: center;
  //   border: 1px solid black;
  border-bottom: 1px solid $border-color;

  overflow-x: hidden;
}

.filterbar-container-darkTheme {
  background-color: #202020;
}
// @media only screen and (max-width: 1300px) {
//   .filterbar-container {
//     left: $mini-side-width;
//     width: calc(100% - $mini-side-width);
//   }
// }
.side-close-filter {
  left: $mini-side-width;
  width: calc(100% - $mini-side-width);
}

.filterbar-content-wrapper {
  display: flex;
  gap: 12px;
}

.label {
  font-size: 15px;
  padding: 5px 13px;
  border: 1px solid $border-color;
  border-radius: 20px;
  background-color: $default-background-color;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  white-space: nowrap;

  &:hover {
    background-color: $hover-color;
  }
}
.label-darkTheme {
  color: white;
  background-color: #373737;
  border : 1px solid #373737;
  &:hover {
    background-color: #4d4d4d;
  }
}

.selected-label {
  background-color: black;
  color: white;
  &:hover {
    background-color: black;
  }
}

.selected-label-darkTheme {
  color: black;
  background-color: white;
  &:hover {
    background-color: white;
  }
}
