@import "../variable/_global_variables.scss";

.filterbar-container {
  position: fixed;
  width: calc(100% - $side-width);
  height: $header-height;
  left: $side-width;
  top: $header-height;
  z-index: 989;
  background-color: white;

  display: flex;
  justify-content: center;
  align-items: center;
  //   border: 1px solid black;
  border-bottom: 1px solid $border-color;

  overflow-x: hidden;
}

.filterbar-content-wrapper {
  display: flex;
  gap: 12px;
}

.filterbar-content-wrapper .label {
  font-size: 15px;
  padding: 5px 13px;
  border: 1px solid $border-color;
  border-radius: 20px;
  background-color: $default-background-color;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  white-space: nowrap;

  &:hover {
    background-color: $hover-color;
  }
}

.filterbar-content-wrapper .selected-label {
  background-color: black;
  color: white;
  &:hover {
    background-color: black;
  }
}
