@import "../variable/_global_variables.scss";

.main {
  //   grid-area: main;
  width: calc(100% - $side-width);
  height: 100%;
  //   overflow: scroll;
  position: absolute;
  top: $header-height;
  left: $side-width;

  box-sizing: border-box;
}

.contents-wrapper {
  margin-top: 100px;
  width: 100%;
  box-sizing: border-box;

  display: inline-flex;
  flex-wrap: wrap;
}

.item-container {
  padding: 8px;
  width: calc(100% / 4 - 16px - 0.01px);
}

.item-container img {
  width: 100%;
}
