@import "../variable/_global_variables.scss";

// #root {
//   transform: translateX(0);
// }
.main {
  //   grid-area: main;
  width: calc(100% - $side-width);
  //   height: 100%;
  //   overflow: scroll;
  position: absolute;
  top: $header-height;
  left: $side-width;
  // margin-top: $header-height;
  // margin-left:$mini-side-width;
  box-sizing: border-box;
  min-height: calc(100% - $header-height);
}
.main-darkTheme {
  background-color: #181818;
}

.side-close-main {
  left: $mini-side-width;
  width: calc(100% - $mini-side-width);
}
// @media only screen and (max-width: 1300px) {
//   .main {
//     left: $mini-side-width;
//     width: calc(100% - $mini-side-width);
//   }
// }

.contents-wrapper {
  padding: 20px;

  padding-top: $header-height;
  width: 100%;
  box-sizing: border-box;
  min-height: calc(100vh - $header-height);
  display: inline-flex;
  flex-wrap: wrap;
}
.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 30px;
  width: 100%;
}

.item-container {
  padding: 8px;
  padding-bottom: 30px;
  width: calc(100% / 4 - 16px - 0.01px);
}

.video-description-container {
  display: flex;
  height: 90px;
}
.channel-icon {
  display: flex;
  justify-content: center;
  padding-right: 4px;
}
.channel-icon img {
  box-sizing: border-box;
  padding: 4px;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  cursor: pointer;
}

.video-thumbnail {
  width: 100%;
  cursor: pointer;
}
.video-thumbnail img {
  width: 100%;
}

.video-title {
  font-size: 0.9rem;
  white-space: normal;
  line-height: 1.2rem;
  max-height: 2.4rem;
  height: 2.4rem;
  text-overflow: ellipsis;
  display: flexbox;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2;
  cursor: pointer;
}
.video-title-darkTheme {
  color: white;
}

.video-channel-name {
  font-size: 12px;
  cursor: pointer;
}
.video-channel-name-darkTheme {
  color: gray;
}
