.main {
  //   grid-area: main;
  //   width: calc(100% - 220px);
  width: calc(100% - 220px);
  height: 100%;
  //   overflow: scroll;
  position: absolute;
  top: 66px;
  left: 220px;
  z-index: -1;
  box-sizing: border-box;

  //   display: grid;
  //   grid-template-columns: 1fr 1fr 1fr 1fr;
  //   grid-gap: 10px;
  //   grid-template-rows: 1fr ;
  display: inline-flex;
  //   flex: 0 0 25%;
  flex-wrap: wrap;
}

.item-container {
 padding : 8px;
  width: calc(100% / 4 - 16px - 0.01px);
}

.item-container img {
  width: 100%;
}
