@import "../variable/_global_variables.scss";

.search-result-container {
  padding: 30px;
  width: 100%;
  box-sizing: border-box;
  min-height: calc(100vh - $header-height);
}

.search-item-wrapper {
  padding: 10px;
  display: flex;
  gap: 16px;
  font-size: 13px;
  color: gray;
}
.search-item-wrapper-darkTheme {
  color: gray;
}
.search-thumbnail {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  box-sizing: border-box;
  cursor: pointer;
}
.search-item-title {
  font-size: 18px;
  color: black;
  cursor: pointer;
}
.search-item-title-darkTheme {
  color: white;
}

.search-item-info a {
  text-decoration: none;
}

.search-item-channel {
  display: flex;
  padding: 10px;
  padding-left: 0;
}
.search-channel-icon {
  padding-right: 8px;
}
.search-channel-icon img {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  cursor: pointer;
}
.search-channel-title {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.search-item-description {
  white-space: wrap;
  word-break: keep-all;
}

.no-result-found {
  font-size: 32px;
  color: black;
}

.no-result-found-darkTheme {
  color: white;
}
