@import "./variable/global_variables";
.app {
  //   position: relative;
  width: 100%;
  height: 100%;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 996;
}

.scroll-in-overlay {
  position: fixed;
}
